body {
    background: #fbfbfb;
}
h1 {
	font-family: Tahoma, Verdana, sans-serif;
	color: #606262;
	font-size: 70px;
	text-align: center;
}
img {
	margin: auto;
	display: block;
	height: 300px;
}
li {
	text-decoration: none;
	list-style: none;
	display: inline;
	padding: 25px;
	color: white;
	font-family: Tahoma, Verdana, sans-serif;
}
ul {
	background: #304860;
}
a {
	color: white;
	text-decoration: none;
}