/*// FONT FAMILY HELPERS :)
// font-family: 'Oswald', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Source Sans Pro', sans-serif;*/
/*yellow color: #fffe00
grey color: #eeeeee*/
/*dark grey color: #c6c6c6*/
body {
	margin: 0px;
}
.wrapper {
	width: 1080px;
}
/*///-----TOP BOX-----///*/
.top-most {
	background: black;
}

h1 {
	font-family: Merriweather, serif;
	font-weight: 700;
	color: #fffe00;
}
.name {
	border: 3px solid green;
	display: inline-block;
	width: 500px;
	padding-left: 20px;
}
.top-list {
	text-align: right;
	border: 3px solid green;
	display: inline-block;
	width: 530px;
	padding-bottom: 10px;
}
.top-item {
	display: inline-block;
	color: white;
	text-align: center;
	text-decoration: none;
	margin: 0px 5px;
}
.nav-top {
	color: white;
	text-decoration: none;
	font-family: Source Sans Pro, sans-serif;
}
/*hr {
	display: block;
	height: 5px;
	padding: 0px;
	background-color: #fffe00
}*/ /*bad idea*/
.super-top-list {
	border-bottom: 5px solid #fffe00;
}
.grey-brains {
	display: inline-block;
	background-color: #eeeeee;
	width: 1080px;
}
.brains {
	font-family: Merriweather, serif;
	font-weight: 300px;
	text-align: center;
}
.taste {
	color: #999999;
}
.yellow-underline {
	border-bottom: 4px solid #fffe00;
}
/*///----------MAIN----------///*/
.background {
	width: 1080px;
	height: 600px;
}
.copy-title {
	font-size: 20px;
	margin: 0px;
	padding: 0px;
	font-family: Merriweather, serif;
	border: 3px solid green;
	display: inline-block;
}
.copy-body {
	display: inline-block;
	top: 500;
	width: 353px;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	font-family: Source Sans Pro, sans-serif;
}
/*.choices {
	display: inline-block;
	background-color: #eeeeee;
	top: 600;
	position: absolute;
	height: 136px;
	width: 530px;
}*/ /*WHY DOESN'T THIS WORK!!!*/
.choice-box {
	display: inline-block;
	background-color: #eeeeee;
	top: 600;
	position: absolute;
	height: 136px;
	width: 1060px;
	padding: 10px 10px 10px 10px;
}
.choice-1-button {
	display: inline-block;
	background-color: #c6c6c6;
	top: 800;
	position: absolute;
	height: 50px;
	width: 200px;
	left: 70;
	text-align: center;
}