/*// FONT FAMILY HELPERS :)
// font-family: 'Oswald', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Source Sans Pro', sans-serif;*/
/*yellow color: #fffe00
grey color: #eeeeee*/
/*dark grey color: #c6c6c6*/
body {
	margin: 0px;
}
.wrapper {
	width: 1080px;
}
/*///-----TOP BOX-----///*/
.top-most {
	background: black;
}

h1 {
	font-family: Merriweather, serif;
	font-weight: 700;
	color: #fffe00;
}
.name {
	/*border: 3px solid green;*/
	display: inline-block;
	width: 500px;
	padding-left: 20px;
}
.top-list {
	text-align: right;
	/*border: 3px solid green;*/
	display: inline-block;
	width: 530px;
	padding-bottom: 10px;
}
.top-item {
	display: inline-block;
	color: white;
	text-align: center;
	text-decoration: none;
	margin: 0px 5px;
}
.nav-top {
	color: white;
	text-decoration: none;
	font-family: Source Sans Pro, sans-serif;
}
/*hr {
	display: block;
	height: 5px;
	padding: 0px;
	background-color: #fffe00
}*/ /*bad idea*/
.super-top-list {
	border-bottom: 5px solid #fffe00;
}
.grey-brains {
	display: inline-block;
	background-color: #eeeeee;
	width: 1080px;
}
.brains {
	font-family: Merriweather, serif;
	font-weight: 300px;
	text-align: center;
}
.taste {
	color: #999999;
}
.yellow-underline {
	border-bottom: 4px solid #fffe00;
}
/*///----------MAIN----------///*/
.background {
	width: 1080px;
}
.div {
	overflow: hidden;
}
.choice-box {
	display: inline-block;
	background-color: #eeeeee;
	top: 700;
	position: absolute;
	height: 151px;
	width: 1080px;
}
.choice-small {
  border-right: 2px solid grey; /*no idea how to change height??*/
  display: inline-block;
  width: 358px;
  height: 151px;
  float: left;
}
.choice-title {
  	font-size: 20px;
	margin-left: 20px;
	font-family: Merriweather, serif;
	display: inline-block;
	margin-top: 10px;
	/*border: 3px solid green;*/
}
.choice-body {
	display: inline-block;
	width: 360px;
	font-family: Source Sans Pro, sans-serif;
	margin-left: 20px;
	font-size: 13px;
}

/*///----------FOOTER----------///*/
.black-box {
	display: inline-block;
	background: black;
	width: 1080px;
	height: 100px;
}
