body {
	font-family: lato, sans-serif;
	font-weight: 300;
	color: #444444;
}
.red-text {
	color: #C84136;
}
header {
	font-size: 50px;
	padding-top: 40px;
	padding-left: 54px;
}
.tagline {
	font-size: 20px;
	padding-top: 5px;
	padding-left: 54px;
}
.list {
	list-style: none;
	display: inline;
	padding: 5px;
	padding-left: 15px;
}
.top-links {
	color: #dddddd;
}
.top-links:hover {
	color: black;
}
h2 {
	font-weight: 100;
	margin: 10px 54px;
}
img {
	display: block;
	width: 720px;
	padding-left: 54px;
}
.gray {
	color: #cccccc;
}
p {
	padding-left: 54px;
	width: 700px;
}
.cont {
	text-indent: 700px;
	font-weight: bold;
}
hr {
	width: 740px;
	margin: 10px 0px 0px 54px;
	color: #dddddd;
}
.bottom {
	font-size: 14px;
}
.copyright {
	padding: 10px 0px 0px 45px;

}
.red-links {
	color: #C84136;
	text-decoration: none;
}
.red-links:hover {
	color: black;
}
.seperate {
	color: #dddddd;
}
.left-side {
	float: left;
}
.right-side {
	float: right;

}
.clearfix:after {
      content:"";
      display:table;
      clear:both;
}