/*@@@@@@@@@@@@@@@@@@@@HOME-BACKGROUND@@@@@@@@@@@@@@@@@@@*/

body {
	background: url('../img/26-pizza-rotated-mike.jpg') no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
    -o-background-size: cover; 
    min-height: 100%;
   	position: relative;
}

html {
	height: 100%;
}

.opaque-layer {
    background-color: rgba(64, 62, 62, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    /*height: 100%;*/
    z-index: -1;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/*@@@@@@@@@@@@@@@@@@@@NAV@@@@@@@@@@@@@@@@@@@*/

.nav-top {
	display: inline-block;
	text-decoration: none;
	list-style: none;
	font-family: "Archivo Black", sans-serif;
	padding: 5px;
	color: white;
	font-size: 20px;
}

.head-nav {
	float: left;
	display: inline-block;
	padding-top: 20px;
	left: 22%;
	position: relative;
	z-index: 50;
}

.nav-link {
	text-decoration: none;
	color: white;
}

.top-logo {
	z-index: 500;
}

.small_logo {
	height:	100px;
	margin: 20px;
	display: inline-block;
	float: left;
	z-index: 500;
}


/*@@@@@@@@@@@@@@@@@@@@MIDDLE@@@@@@@@@@@@@@@@@@@*/
.nyc-ribbon {
  /*position: absolute;*/
  /*left: 25%;*/
  margin: 0 auto;
  /*bottom: -10%;*/
  display: block;
}

.name {
  display: inline-block;
  font-family: "Archivo Black", sans-serif;
  /*position: absolute;*/
  bottom: 53%;
  /*right: -4%;
  left: 28%;*/
  font-size: 300%;
  letter-spacing: -1px;
  color: white;
  width: 100%;
  text-align: center;
}

.reject {
	display: inline-block;
	font-family: "Archivo Black", sans-serif; 
	/*position: absolute;*/
	bottom: 45%;
	/*right: -4%;
	left: 39%;*/
	font-size: 200%;
	letter-spacing: -1px;
	color: white;
	font-weight: 100;
	width: 100%;
	text-align: center;
}

.pizza-emoji {
	width: 4%;
	/*position: absolute;*/
	/*bottom: 30%;*/
	/*right: -5%;*/
	/*left: 40%;*/
	display: inline-block;
	margin: 0 auto;
}

.pizza-wrap {
	width: 100%;
	/*display: block;
	margin: 0 auto;*/
	padding-left: 43%;



