/*NOTE: 
RED: #e31d23
*/
/*@@@@@@@@@@@@@@@@@@@@EATS-BACKGROUND@@@@@@@@@@@@@@@@@@@*/
body {
	/*background: url('../img/bg-eats-2.jpg') no-repeat center center;*/
	background-color: #e31d23;
  background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
  -o-background-size: cover; 
  min-height: 100%
  /*background-attachment: fixed*/
}

html {
	height: 100%;
}

/*@@@@@@@@@@@@@@@@@@@@EATS-NAV@@@@@@@@@@@@@@@@@@@*/
.nav-top {
	display: inline-block;
	text-decoration: none;
	list-style: none;
	font-family: "Archivo Black", sans-serif;
	padding: 5px;
	color: black;
	font-size: 20px;
}

.head-nav {
  text-align: center;
  padding: 40px;
  background-color: white;
}

.nav-link {
	text-decoration: none;
	color: #e31d23;
}

.top-logo {
  float: left;
  margin-left: 10px;
  margin-top: 4px;
}

.small_logo {
	height:	100px;
	display: inline-block;
  /*margin: 4px;*/
}

.page-header {
  overflow: hidden;
}
/*@@@@@@@@@@@@@@@@@@@@EATS-TOP@@@@@@@@@@@@@@@@@@@*/


/*@@@@@@@@@@@@@@@@@@@@EATS-MIDDLE@@@@@@@@@@@@@@@@@@@*/

.menu-box {
   background-color: white;
   width: 55%;
   box-sizing: border-box;
   margin: 10px auto;
   padding: 40px;
}

.menu-item {
  font-family: 'Lato', sans-serif;
  padding: 15px 0;
}

.menu-name {
  font-family: "Archivo Black", sans-serif;
  font-size: 100%;
}

.title {
  font-family: "Archivo Black", sans-serif;
  letter-spacing: 2px;
  color: #e31d23;
  font-size: 300%;
}

.pizza-sizes {
  font-family: "Passion One", sans-serif;
  font-size: 120%;
}

.eats-welcome {
  font-family: 'Lato', sans-serif;
  /*padding: 15px;*/
  font-size: 150%;

}

.food-icon {
  float: left;
}

.title-top {
  display: inline-block;
  padding-top: 40px;
  padding-left: 15px;
}

.menu-section-head {
  overflow: hidden;
}

/*@@@@@@@@@@@@@@@@@@@@EATS-BOTTOM@@@@@@@@@@@@@@@@@@@*/

.bottom-footer {
  background-color: black;
  box-sizing: border-box;
  margin-top: 60px;
  padding: 40px;
}

.location-wrap {
  color: white;
  font-family: "Archivo Black", sans-serif; 
  font-size: 130%;
  overflow: hidden;
  /*padding: 15px;*/
}

.TS-location {
  padding-left: 10px;
  float: left;
}

.MSG-location {
  text-align: right;
  padding-right: 10px;
  float: right;
}