/*@@@@@@@@@@@@@@@@@@@@HOME-BACKGROUND@@@@@@@@@@@@@@@@@@@*/

body {
	background: url('../img/pizza-home-bg.jpg') no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
    -o-background-size: cover; 
    min-height: 100%;
    background-attachment: fixed;
   	/*position: relative;*/
}

html {
	height: 100%;
}

.opaque-layer {
    background-color: rgba(64, 62, 62, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

/*@@@@@@@@@@@@@@@@@@@@NAV@@@@@@@@@@@@@@@@@@@*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

.top-logo {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	z-index: 200;
	width: 100px;
	position: absolute;
	padding-bottom: 100px;
}

.small_logo {
	height:	100px;
	display: inline-block;
	z-index: 200;
  	position: fixed;
}

.head-nav {
	text-align: center;
	padding: 35px;
	width:100%;
	position:fixed;
}

.nav-top {
	display: inline-block;
	text-decoration: none;
	list-style: none;
	font-family: "Archivo Black", sans-serif;
	padding: 5px;
	color: white;
	font-size: 20px;
}

.nav-link {
	text-decoration: none;
	color: white;
}


/*@@@@@@@@@@@@@@@@@@@@MIDDLE@@@@@@@@@@@@@@@@@@@*/
.empty {
  height: 70px;
}

.middle-stuff {
	margin: 137px auto;
	width: 100%;
}

.ribbon-wrap {
	text-align: center;
}
.middle-text {
	display: inline-block;
	font-family: "Archivo Black", sans-serif;
	color: white;
	letter-spacing: -1px;
	text-align: center;
	width: 100%;
}
.name {
  font-size: 300%;
  margin-bottom: 20px;
  
}

.reject {
	font-size: 200%;
	margin-bottom: 25px;
}

.pizza-emoji {
	width: 4%;
	/*margin-top: 20px;*/
}

.pizza-wrap {
	width: 100%;
	text-align: center;
}

/*@@@@@@@@@@@@@@@@@@@@BOTTOM@@@@@@@@@@@@@@@@@@@*/

.location-wrap {
  color: white;
  font-family: "Archivo Black", sans-serif; 
  font-size: 130%;
  overflow: hidden;
  margin: auto;
}

.TS-location {
  padding-left: 20px;
  float: left;
}

.MSG-location {
  text-align: right;
  padding-right: 20px;
  float: right;
}

.loc-tel-link {
	text-decoration: none;
	color: white;
}

/*@@@@@@@@@@@@@@@@@@@@MEDIA@@@@@@@@@@@@@@@@@@@*/