/*shadow color choices: pinkish a51f45
						grayish 757575
						blackish 454545*/
/*---------HEADER----------*/
h1 {
	text-align: center;
	font-family: 'Bitter', serif;
	padding-top: 10px;
	font-size: 50px;
	color: #fbf8f9;
	text-shadow: 2px 2px 0px #454545,
				 3px 3px 0px #454545,
				 4px 4px 0px #454545;
}
h1:hover {
	top: -3px; 
	left: -3px; 
	text-shadow: 1px 1px #454545, 
				 2px 2px #454545, 
				 3px 3px #454545, 
				 4px 4px #454545, 
				 5px 5px #454545, 
				 6px 6px #454545;
}
body {
	font-family: 'Roboto', sans-serif;
}

/*---------BODY----------*/
.converter-box {
	background-color: #b7b6b6;
	display: inline-block;
	/*right: 50%;*/
	left: 50%;
	margin-left: -150px;
	position: absolute;
	width: 300px;
	height: 200px;
	/*box-shadow: 5px 10px grey;*/
}

.left-side {
	display: inline-block;
	padding-left: 40px;
	text-align: center;
}

.arrow {
	padding-left: 10px;
	font-size: 30px;
}

.right-side {
	display: inline-block;
	padding-left: 15px;
	text-align: center;
}

.right: read-only{
/*makes box read-only. must set value in html*/
}

#fight {
	right: 14%;
	margin-right: -105px;
	left: 14%;
	display: inline-block;
	background-color: #757575;
	text-align: center;
	position: absolute;
	top: 80px;
	margin-top: 5px;
	padding: 5px 10px -1px 5px;
	width: 106px;
	font-size: 13px;
	cursor: pointer;
}
#fight:active {
	border-top: solid 1px #757575;
	border-left: solid 1px #757575;
	border-bottom: none;
	border-right: none;

}

#fightCtoF {
	right: 50%;
	/*margin-right: -105px;*/
	left: 60%;
	display: inline-block;
	background-color: #757575;
	text-align: center;
	/*font-size: 10px;*/
	position: absolute;
	top: 80px;
	margin-top: 5px;
	padding: 5px 5px -2px 5px;
	width: 106px;
	font-size: 13px;
	cursor: pointer;
}
#fightCtoF:active {
	border-top: solid 1px #757575;
	border-left: solid 1px #757575;
	border-bottom: none;
	border-right: none;

}

#clear {
	right: 14%;
	margin-right: -105px;
	left: 14%;
	display: inline-block;
	background-color: #757575;
	text-align: center;
	position: absolute;
	top: 130px;
	padding: 0px;
	margin-top: 15px;
	width: 245px;
	font-size: 13px;
	cursor: pointer;
}
#clear:active {
	border-top: solid 1px #757575;
	border-left: solid 1px #757575;
	border-bottom: none;
	border-right: none;
}

/*---------PICTURE----------*/
.Fahrenheit_man {
	display: inline-block;
	padding-left: 280px;
	/*position: absolute;*/
	font-size: 20px;
	padding-bottom: 20px;
}
.Celsius_man {
	display: inline-block;
	padding-left: 550px;
	font-size: 20px;
	padding-bottom: 20px;
}